doctype html
html(lang='en')
    head
        title Experto EFatura
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        link(rel='apple-touch-icon-precomposed' sizes='144x144' href='/ico/apple-touch-icon-144-precomposed.png')
        link(rel='apple-touch-icon-precomposed' sizes='114x114' href='/ico/apple-touch-icon-114-precomposed.png')
        link(rel='apple-touch-icon-precomposed' sizes='72x72' href='/ico/apple-touch-icon-72-precomposed.png')
        link(rel='apple-touch-icon-precomposed' href='/ico/apple-touch-icon-57-precomposed.png')
        script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Experto EFatura
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Link
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item
                        a.nav-link.disabled(href='#') Disabled
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        .container-fluid
            .row
                nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                    .sidebar-sticky
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.active(href='/')
                                    span(data-feather='home')
                                    |                   Ana Ekran 
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link.active(href='/fatura')
                                    span(data-feather='home')
                                    |                   Faturalar 
                            li.nav-item
                                a.nav-link.active(href='/faturalog')
                                    span(data-feather='home')
                                    |                   İşlem Kayıtları 
                            li.nav-item
                                a.nav-link.active(href='/service')
                                    span(data-feather='home')
                                    |                   Servis 
                            li.nav-item
                                a.nav-link.active(href='/settings')
                                    span(data-feather='home')
                                    |                   Ayarlar 
                main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
                    block content