extends layouts/main-layout.pug
block content
    h2 Faturalar
    table.table-striped
        tr
            th Aciklama
            th Firma
            th Kesen Firma
            th Duzenleme Tarihi
            th Tutar
            th Fatura No
            th BelgeOid
            th Durum
            th 

        each fatura in faturalar
            tr
                td= fatura.aciklama
                td= fatura.firma ? fatura.firma.marka : ''
                td= fatura.kesenFirma ? fatura.kesenFirma.adi : ''
                td= moment(fatura.duzenlemeTarihi).format('DD.MM.YYYY')
                td= fatura.genelToplam
                td= fatura.faturaNo
                td= fatura.belgeOid
                td= fatura.status
                td
                    button(onclick="gonder('"+fatura._id+"')") Gonder
    script.
        function gonder(id) {
            $.ajax({
                "url":"/api/v1/efatura/"+id,
                "method": "POST",
                "dataType": "html",
                "success": function(data) {
                    //var json = $.parseJSON(data)
                    //if (json.listening) {
                    //    $("#durum").text('Calisiyor')
                    //    $("#queue").text(json.queueName)
                    //}
                    //else {
                    //    $("#durum").text('Calismiyor')
                    //    $("#queue").text(json.queueName)
                    //}
                }
            })
        }    