extends layouts/main-layout.pug
block content
    h2 Faturalar İşlem Kayıtları
    table.table-striped
        tr
            th Aciklama
            th Firma
            th Kesen Firma
            th Duzenleme Tarihi
            th Tutar
            th Fatura No
            th BelgeOid
            th Islem Tarihi
            th Islem

        each log in logs
            tr
                td= log.fatura.aciklama
                td= log.fatura.firma ? fatura.firma.marka : ''
                td= log.fatura.kesenFirma ? fatura.kesenFirma.adi : ''
                td= moment(log.fatura.duzenlemeTarihi).format('DD.MM.YYYY')
                td= log.fatura.genelToplam
                td= log.fatura.faturaNo
                td= log.fatura.belgeOid
                td= moment(log.date).format('HH:mm:SS DD.MM.YYYY')
                td= log.aciklama
