extends layouts/main-layout.pug
block content
    h2 Yapılan İşlemler
    table(id='table').table-striped
        tr
            th Fatura No
            th Belge OID
            th Durum
            th Hata
        
    script. 
        var socket = io.connect('http://localhost:3500')
        socket.on('step', function(data) {
            var found = false
            
            let r = $('#'+data._id)
            
            console.log(r)
            if (r.length) {
                $('#'+data._id+' td.message').html(data.message)
            }
            else{
                $('#table tr:last').after(`<tr id="`+data._id+`""><td>`+data._id+`</td><td class='message'>`+data.message+`</td></tr>`)
            }
            console.log(data)
        })
