extends layouts/main-layout.pug
block content
    p Servis
    if listening
        p(id='durum') Calisiyor
        p(id='queue') ?
    else 
        p(id='durum') ?
        p(id='queue') ?
    button(onclick="onBtnClick()") Çalıştır
    button(onclick="onBtnGonderClick()") Gonder x 10
    script.
        function onBtnClick() {
            $.ajax({
                "url":"/service/toggle",
                "method": "POST",
                "dataType": "html",
                "success": function(data) {
                    var json = $.parseJSON(data)
                    if (json.listening) {
                        $("#durum").text('Calisiyor')
                        $("#queue").text(json.queueName)
                    }
                    else {
                        $("#durum").text('Calismiyor')
                        $("#queue").text(json.queueName)
                    }
                }
            })
        }
        function onBtnGonderClick() {
            $.ajax({
                "url":"/service/gonderx10",
                "method": "POST",
                "dataType": "html",
                "success": function(data) {
                }
            })
        }