extends layouts/main-layout.pug
block content
    h2 Settings
    form(action='', method='POST')
        p
            | Kuyruk Adresi:
            input(type='text', name='title', value='')
        p
            | Fatura Kuyruk Adı:
            input(type='text', name='title', value='')
        p
            input(type='submit', value='Kaydet')